<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <header>
            <!-- Header Ends -->
            <div class="header-col">
                <h1>Blog Posts</h1>
                
                {% if request.user.is_authenticated %}
                    <h4>Welcome,  {{user.author}}</h4>
                {% else %}
                    <h4>Welcome,  Please <a href="{% url '/registration/login.html' %}">Login</a></h4>
                {% endif %}  
                
            </div>
            <hr>
            <!-- Header Ends -->
        </header>
    </head>
    <body>
        <div>
            {% for post in posts %}
                <h3><a href="{% url 'blog:post-detail' pk=post.id %}">{{post.title}}</a></h3>
                <span>
                    <p>
                        Author: {{post.author.first_name}}
                        &mdash; 
                        Category: {{post.category}}
                    </p>
                    <small>
                        Published Date: {{post.published_date|date:"d M,Y"}} &dash;
                        <a href="{% url 'blog:post-edit' pk=post.id %}">Edit</a> &dash;
                        <a href="{% url 'blog:post-delete' pk=post.id %}">Delete</a>
                    </small>
                <span>
                <p>{{post.content|truncatewords:20}}</p>
            {% endfor %}
            <hr>
                
            <!-- Pagination Begin -->
            <div class="pagination">
                <span class="step-links">
                    
                    {% if page_obj.has_previous %}
                        <a href="?page=1"> &laquo; First &mdash;</a>
                        <a href="?page={{ page_obj.previous_page_number }}"> Previous</a>
                    {% endif %}

                    <span class="current">
                        &mdash; Page {{page_obj.number}} of {{page_obj.paginator.num_pages}} &mdash;
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">&mdash; Last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            <!-- Pagination Ends -->
        </div>
    </body>
</html>